.container{
  display: flex;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  border: 1px solid #ccc;
  flex-wrap: nowrap;
}

.item{
  background-color: #ffcccb;
  padding: 20px;
  margin: 5px;
  border: 1px solid #000;
  min-width: 50px;
  text-align: center;
}

.example1 .flex-1{
  flex: 1;
}

.example1 .flex-2{
  flex: 2;
}

.example1 .flex-3{
  flex: 1;
}

.example2 .flex-1{
  flex: 1 200px;
}

.example2 .flex-2{
  flex: 2 200px;
}

.example2 .flex-3{
  flex: 1 200px;
}

.example3 .grow-1{
  flex-grow: 1;
}

  .example3 .grow-1{
    flex-grow: 1;}

    .example3 .grow-1{
      flex-grow: 1;}

.example4{
  display: flex;
  width: 6%;
  border: 1px solid black;
}

.example4 .item{
  flex-grow: 1;
  flex-basis: 200px;
  margin: 5px;
}