body{
  display: flex;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app{
  background-color: #fff;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  /*내부에서 크기가 커질 경우 생기는 스크롤 제거거*/
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
}

#photo-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 15px;
  padding: 20px;
}

#button-container{
  padding: 10px;
  display: flex;
  justify-content: space-between;

}

#prev-button, #next-utton{
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3 ease;

}

#prev-button:hover, #next-button:hover{
  background-color: #0056b3;
  transition: background-color 0.3 ease;

}

.photo-item{
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.photo-item img{
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.photo-item p{
  font-weight: bold;
  color: #555;
  margin: 0;
}

